<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">

    <div class="carousel-item active carousel-size">
      <img class="d-block img-fluid" src="https://s3-us-west-2.amazonaws.com/primecorpservices/slide1.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
		    <h3>Video Tutorials</h3>
		    <p>...</p>
		  </div>
    </div>

    <div class="carousel-item carousel-size">
      <img class="d-block img-fluid" src="https://s3-us-west-2.amazonaws.com/primecorpservices/slide2.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
		    <h3>Blogs</h3>
		    <p>...</p>
		  </div>
    </div>

    <div class="carousel-item carousel-size">
      <img class="d-block img-fluid" src="https://s3-us-west-2.amazonaws.com/primecorpservices/slide3.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
		    <h3>Webinars</h3>
		    <p>...</p>
		  </div>
    </div>

    <div class="carousel-item carousel-size">
      <img class="d-block img-fluid" src="https://s3-us-west-2.amazonaws.com/primecorpservices/slide4.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
		    <h3>Reviews</h3>
		    <p>...</p>
		  </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>