/*These styles are for both new blog and new video upload.*/

.blog-background-color {
	background-color: #f6f6f6;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 25px;
}

.blog-form-container {
	padding: 25px 0 25px 0;

}

.blog-form-padding {
	padding: 20px;
}



.blog-btn {
	width: 75%;
}

.blog-form-padding-btn {
	text-align: center;
}

.rating {
	text-align: center;
	padding-top: 15px;
}

.rating h2 {
	text-align: center;
}

.radio-btn {
	margin-right: 15px;
	margin-top: 2px;
}

.btn-color {
	color: black;
	font-size: 1.1em;
}

.prev, .first, .next, .last {
	border-radius: 10px;
	margin-right: 5px;
}

.pagination_numbers {
	font-size: 1.1em;
	margin-right: 10px;
	margin-top: 2px;
}

.new-review-btn {
	margin-bottom: 10px;
	margin-top: 10px;
}

.rating-field {
	
}