/*These styles are for both new blog and new video upload.*/

.blog-background-color {
	background-color: #f6f6f6;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 25px;
}

.blog-form-container {
	padding: 25px 0 25px 0;

}

.blog-form-padding {
	padding: 20px;
}



.blog-btn {
	width: 75%;
}

.blog-form-padding-btn {
	text-align: center;
}

.rating {
	text-align: center;
	padding-top: 15px;
}

.rating h2 {
	text-align: center;
}

.radio-btn {
	margin-right: 15px;
	margin-top: 2px;
}